#app{
  position: relative;
  margin: 20px 40px;
}

.active{
  background-color: rgb(146, 255, 255);
}

button{
  height: 40px;
  width: 80px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 0;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 4px #9c9c9c;
}

